*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins, sans-serif';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #0F0F0F;
    color: #fff;
}

/*  */

#home{
    width: 100%;
    height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
}

/* NAV BAR */

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 5px;
    transition: 0.5s;
}

nav ul li a:hover{
    border-bottom: 4px solid #232D3F;
}

.home-txt{
    margin-top: 20%;
    font-size: 30px;
}

.home-txt h1{
    font-size: 60px;
    margin-top: 20px;
}

.home-txt h1 span{
    color: #005B41;
}

/*  END NAV BAR */
/* ABOUT */

#about{
    padding: 80px 0;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;

}

.title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-col-2 p{
    font-size: 20px;
    margin: 20px 0;
    line-height: 30px;
    text-align: center;
}

.about-col-2 .edu{
    text-align: left;
}

.about-col-2 i{
    color: #005B41;
}

.ttl{
    padding-top: 25px;
}

/* END ABOUT */

/* SKILLS */

#skills{
    padding: 30px 0;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div{
    background-color: #005B41;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skills-list div:hover{
    background: #008170;
    transform: translateY(-10px);
}

/* END SKILLLS */
/* PORTO */

#porto{
    padding: 50px 0;
}

.porto-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.porto{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.porto img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.porto-txt{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #005B41);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.porto-txt h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.porto-list a{
    margin-top: 20px;
    color: #008170;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.porto-list a i{
    line-height: 60px;
    text-align: center;
}

.porto:hover img{
    transform: scale(1.1);
}

.porto:hover .porto-txt{
    height: 100%;
}

/* END PORTO */

/* CR */

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #1a1919;
    font-weight: 300;
    margin-top: 20px;
}

/* END CR */